version: "3.8"

services:
  traefik:
    image: traefik:v3.3
    command:
      - --log.level=INFO

      # Static: bind UDP entrypoint
      - --entryPoints.udp25565.address=:25565/udp
      - --entryPoints.tcp25566.address=:25566/tcp

      # Dynamic: load from file provider
      - --providers.file.filename=/etc/traefik/dynamic/config.yml
      - --providers.file.watch=true

    ports:
      - "25565:25565/udp"
      - "25566:25566/tcp"

    configs:
      - source: traefik_dynamic
        target: /etc/traefik/dynamic/config.yml
        mode: 0444

configs:
  traefik_dynamic:
    content: |
      udp:
        routers:
          udp25565:
            entryPoints:
              - udp25565
            service: udp25565-svc

        services:
          udp25565-svc:
            loadBalancer:
              servers:
                - address: "100.64.136.29:25565"
      
      tcp:
        routers:
          tcp25566:
            entryPoints:
              - tcp25566
            service: tcp25566-svc

        services:
          tcp25566-svc:
            loadBalancer:
              servers:
                - address: "100.64.136.29:25566"
