version: "3.8"

services:
  traefik:
    image: traefik:v3.3
    command:
      - --log.level=INFO

      # Static: bind UDP entrypoint
      - --entryPoints.udp25565.address=:25565/udp

      # Dynamic: load from file provider
      - --providers.file.filename=/etc/traefik/dynamic/udp25565.yml
      - --providers.file.watch=true

    ports:
      - "25565:25565/udp"

    configs:
      - source: traefik_udp25565
        target: /etc/traefik/dynamic/udp25565.yml
        mode: 0444

configs:
  traefik_udp25565:
    content: |
      udp:
        routers:
          udp25565:
            entryPoints:
              - udp25565
            service: udp25565-svc

        services:
          udp25565-svc:
            loadBalancer:
              servers:
                - address: "100.64.136.29:25565"
